<launch>
	<node name="dynamixel_interface_controller_node" pkg="dynamixel_interface" type="dynamixel_interface_controller_node" output="screen">
		<rosparam command="load" file="$(find dynamixel_interface)/config/controller_config.yaml" />
	</node>
    <node pkg="robot_arm_controller" name="robot_controller_node" type="robot_controller.py" output="screen"/>
</launch>